
.footer {
    /* position: fixed; */
    position: fixed;
 
    bottom: 0;
  
    text-align: center;
    /* margin-top: 30px; */
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #e7e7e7;
  }